<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="flat_urdf2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="center_wall">
    <inertial>
      <origin
        xyz="4.9311 -1.4231 0.05"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="center_wall.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="center_wall.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_center"
    type="fixed">
    <origin
      xyz="0 4.2 3"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="center_wall" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="room_wall">
    <inertial>
      <origin
        xyz="5 1.5 0.05"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_wall.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_wall.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_room_wall"
    type="fixed">
    <origin
      xyz="0 8.3 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="room_wall" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_wall">
    <inertial>
      <origin
        xyz="1.5 0.05 2"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_wall.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_wall.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_left_wall"
    type="fixed">
    <origin
      xyz="0.1 4.1 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="left_wall" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_wall">
    <inertial>
      <origin
        xyz="0.05 1.5 2.1"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_wall.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_wall.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_right_wall"
    type="fixed">
    <origin
      xyz="9.9 4.2 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wall" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="room_side1">
    <inertial>
      <origin
        xyz="2.1 1.5 -0.05"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_side1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_side1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_room_side1"
    type="fixed">
    <origin
      xyz="0 8.3 0"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="room_side1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="room_side2">
    <inertial>
      <origin
        xyz="-1.8351 -0.05 -1.6"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_side2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_side2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_room_side2"
    type="fixed">
    <origin
      xyz="5.4677 4.2 0"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="room_side2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="room_side3">
    <inertial>
      <origin
        xyz="-2 1.5 -0.05"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_side3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="room_side3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_front_2_room_side3"
    type="fixed">
    <origin
      xyz="9.9 4.2 0"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="room_side3" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>